<div class="jumbotron">
    
  <h2 class="text-center"> <%= @conferencia.titulo %> </h2>
  
  <hr>

  <table class="table table-striped" id="tabla_conferencia" border="1">
    <tr>
      <th class="text-center" align="center">Nombre</th>
      <th class="text-center" align="center">Descripción</th>
      <th class="text-center" align="center">Fecha</th>
    </tr>

        <tr>
          
          <td align="center">
            <%= @conferencia.titulo %>
          </td>
          
          <td align="center">
            <%= @conferencia.descripcion%>
          </td>
          
          <td align="center">
            <%= @conferencia.fecha%>
          </td>

        </tr>
  </table>
  
  <% if usuario_actual.role == "orador" %>
  <div class="text-center" align="left">
        <%= link_to 'Agregue su propuesta', url_for(:crear_propuesta, :crear_propuesta, :id_conferencia => @conferencia.id), id: "create_propuesta", class: "btn btn-primary btn-lg btn-info" %>
      </div>

  <hr>
  <% end %>


  <% if usuario_actual.role == "organizador" %>
  <h3 class="text-center">Asignar evaluador</h3>

  <% form_for(@evaluador, "/ver_una_conferencia/asignar_evaluador/#{@conferencia.id}", html: { class: "form-inline" }) do |f| %>

      <div class="form-group" align="center">
        <%= f.label :evaluador %>
        <br>
        <%= f.select :evaluador, :options => @evaluadores_select %>
      </div>

      <br/>
      
      <div align="center">
        <%= f.submit "Asignar", :id => "account_evaluador_boton", class: "btn btn-primary btn-lg btn-info" %>
      </div>
     
  <% end %>
  <% end %>

  <hr>

  <h3 class="text-center">Evaluadores asignados</h3>
  
  <table class="table table-striped" id="tabla_evaluadores" border="1">
    <tr>
      <th class="text-center" align="center">Nombre</th>
      <th class="text-center" align="center">Email</th>
    </tr>

    <% @evaluadores_asignados.each do |evaluador| %>
      
      <tr>
          
        <td align="center">
          <%= evaluador.nombre %>
        </td>
        
        <td align="center">
          <%= evaluador.email%>
        </td>
        
      </tr>

    <% end %>

  </table>

  <hr>

  <div class="text-center">
    <%= link_to "Volver", url(:home, :index), :class => "btn btn-primary btn-lg btn-info" %>
  </div>
</div>
