<div class="jumbotron">
	<h2 class="text-center"> Nueva propuesta </h2>

	<hr>

	<% form_for(@propuesta, '/crear_propuesta/create/#{@conferencia.id}', html: { class: "form-inline" }) do |f| %>
		<div class="form-group">
			<%= f.label :título %>
			<br>
			<%= f.text_field :titulo, class: "form-control", placeholder: "Título de la propuesta", required: true %>
		</div>

		<div class="form-group">
			<%= f.label :descripcion %>
			<br>
		 	<%= f.text_field :descripcion, class: "form-control", placeholder: "Resumen de la propuesta", required: true %>
		</div>

  			<!--<form method="post" enctype="multipart/form-data">-->
    			<!--<input type=file size=60 name="Su archivo">-->
    			<!--<input type=submit value="Subir propuesta" class="btn btn-primary btn-lg btn-info"> -->
    			<!-- <%= f.submit "Crear", :id => "create_propuesta", class: "btn btn-primary btn-lg btn-info" %> -->
  			<!--</form>-->

		<div class="text-center">
			<%= f.submit "Crear", :id => "create_propuesta", class: "btn btn-primary btn-lg btn-info" %>
		    <%= link_to "Volver", url(:ver_una_conferencia, :ver_conferencia, :id_conferencia => @propuesta.conferencia.id), :class => "btn btn-primary btn-lg btn-info" %>
		</div>
	 
	<% end %>
</div>