<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
		<title>LaReConference - Gestor de conferencias online</title>
		<%= stylesheet_link_tag '/stylesheets/application.css' %>
	    <%= stylesheet_link_tag 'bootstrap', 'bootstrap-responsive' %>
	    <%= javascript_include_tag 'bootstrap.min', 'jquery', 'jquery-ujs' %>
        <link rel="shortcut icon" href="conference.ico">
	</head>
	<body>
		<%= render_partial 'parciales/navegador' %>

		<div class="container contenedor-opciones">
			<div class="error" id="zen-preamble" role="article">
				<h3>
					<%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => false) }.join.html_safe %>	
				</h3>
			</div>
			
			<div class="exito" id="zen-preamble" role="article">
				<h3>
					<%= [:success].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => false) }.join.html_safe %>
				</h3>
			</div>
	    	
	    	<%= yield %>

	    	<%= render_partial 'parciales/footer' %>

	    </div>
	</body>
</html>
