<div class="jumbotron">

	<% if !logueado? %>
		<h2 class="text-center"> Login </h2>

		<hr>

		<% form_for(@usuario, '/home/login', html: { class: "form-inline" }) do |f| %>

			<div class="form-group" align="left">
				<%= f.label :nombre %>
				<br>
				<%= f.text_field :nombre, class: "form-control", placeholder: "Nombre del usuario", required: true %>
			</div>

			<div class="form-group" align="left">
				<%= f.label :contraseña %>
				<%= f.password_field :password, class: "form-control", placeholder: "Contraseña" ,required: true %>
			</div>

			<br/>
			
			<div class="text-center" align="left">
				<%= f.submit "Login", :id => "usuario_login", class: "btn btn-primary btn-lg btn-info" %>
				<%= link_to 'Registrar', url_for(:registrar_usuario, :registrar_usuario), id: "usuario_registrar", class: "btn btn-primary btn-lg btn-info" %>
			</div>
		 
		<% end %>

		<div class="text-center">
			
		</div>
	<% else %>
		<div class="text-center">
			<h2> Bienvenido <% usuario_actual.nombre %> </h2>
			<hr>
			<%= link_to 'Logout', url_for(:home, :logout), id: "usuario_logout", class: "btn btn-primary btn-lg btn-info" %>
		</div>
	<% end %>

</div>